# Compatible Matches Dataframe

In [171]:
import pandas as pd

In [172]:
# the 16 personlaity types are 
compatible_matches = {
    
    "INFP": [["INFP", "ENFP", "INFJ", "INTJ", "INTP", "ENTP", 4], 
             ["ENFJ", "ENTJ", 5],
             ["ISFP", "ESFP", "ISTP", "ESTP","ISFJ", "ESFJ", "ISTJ", "ESTJ", 1]
             ],
    "ISTP": [
        ["INFP", "ENFP", "INFJ", "ENFJ", 1],
        ["INTJ", "ENTJ", "INTP", "ENTP", "ISFJ", "ISTJ", 2],
        ["ISFP", "ESFP", "ISTP", "ESTP", 3],
        ["ISFJ", "ESTJ", 5]],
    "ENFP": [
        ["INFP", "ENFP", "ENFJ", "ENTJ", "INTP", "ENTP", 4],
        ["INFJ", "INTJ", 5],
        ["ISFP", "ESFP", "ISTP", "ESTP", "ISFJ", "ESFJ", "ISTJ", "ESTJ", 1]
    ],
    "INFJ": [
        ["INFP", "INFJ", "ENFJ", "INTJ", "ENTJ", "INTP", 4],
        ["ENFP", "ENTP", 5],
        ["ISFP", "ESFP", "ISTP", "ESTP", "ISFJ", "ESFJ", "ISTJ", "ESTJ", 1]
    ],
    "ENFJ": [
        ["ENFP", "INFJ", "ENFJ", "INTJ", "ENTJ", "INTP", "ENTP", 4],
        ["INFP", "ISFP", 5],
        ["ESFP", "ISTP", "ESTP", "ISFJ", "ESFJ", "ISTJ", "ESTJ", 1]
    ],
    
    "INTJ": [
        ["INFP", "INFJ", "ENFJ", "INTJ", "ENTJ", "INTP", 4],
        ["ENFP", "ENTP", 5],
        ["ISFP", "ESFP", "ISTP", "ESTP", 2],
        ["ISFJ", "ESFJ", "ISTJ", "ESTJ", 3]
    ],

    "ENTJ": [
        ["INFP", "INTP", 5],
        ["ENFP", "INFJ", "ENFJ", "INTJ", "ENTJ", "ENTP", 4],
        ["ISFP", "ESFP", "ISTP", "ESTP", "ISFJ", "ESFJ", "ISTJ", "ESTJ", 2]
    ],
    
    "INTP": [
        ["INFP", "ENFP", "INFJ", "ENFJ", "INTJ", "INTP", "ENTP", 4],
        ["ENTJ", "ESTJ", 5],
        ["ISFP", "ESFP", "ISTP", "ESTP", 2],
        ["ISFJ", "ESFJ", "ISTJ", 3]
    ],
    
    "ENTP": [
        ["INFP", "ENFP", "ENFJ", "ENTJ", "INTP", "ENTP", 4],
        ["INFJ", "INTJ", 5],
        ["ISFP", "ESFP", "ISTP", "ESTP", 2],
        ["ISFJ", "ESFJ", "ISTJ", "ESTJ", 3]
    ],
    
    "ISFP": [
        ["INFP", "ENFP", "INFJ", 1],
        ["ENFJ", "ESFJ", "ESTJ", 5],
        ["INTJ", "ENTJ", "INTP", "ENTP", "ISFJ", "ISTJ", 2],
        ["ISFP", "ESFP", "ISTP", "ESTP", 3]
    ],
    
    "ESFP": [
        ["INFP", "ENFP", "INFJ", "ENFJ", 1],
        ["ISFJ", "ISTJ", 5],
        ["INTJ", "ENTJ", "INTP", "ENTP", "ESFJ", "ESTJ", 2], 
        ["ISFP", "ESFP", "ISTP", "ESTP", 3]
    ],
    
    "ESTP": [
        ["INFP", "ENFP", "INFJ", "ENFJ", 1],
        ["INTJ", "ENTJ", "INTP", "ENTP", "ESFJ", "ESTJ", 2],
        ["ISFP", "ESFP", "ISTP", "ESTP", 3],
        ["ISFJ", "ISTJ", 5]
    ],
    
    "ISFJ": [
        ["INFP", "ENFP", "INFJ", "ENFJ", 1],
        ["INTJ", "INTP", "ENTP", 3],
        ["ENTJ", "ISFP", "ISTP", 2],
        ["ESFP", "ESTP", 5],
        ["ISFJ", "ESFJ", "ISTJ", "ESTJ", 4]
    ],
    
    "ESFJ": [
        ["INFP", "ENFP", "INFJ", "ENFJ", 1],
        ["INTJ", "INTP", "ENTP", 3],
        ["ENTJ", "ESFP", "ESTP", 2],
        ["ISFP", "ISTP", 5],
        ["ISFJ", "ESFJ", "ISTJ", "ESTJ", 4]
    ],
    
    "ISTJ": [
        ["INFP", "ENFP", "INFJ", "ENFJ", 1],
        ["INTJ", "INTP", "ENTP", 3],
        ["ENTJ", "ISFP", "ISTP", 2],
        ["ESFP", "ESTP", 5],
        ["ISFJ", "ESFJ", "ISTJ", "ESTJ", 4],
    ],

    "ESTJ": [
        ["INFP", "ENFP", "INFJ", "ENFJ", 1],
        ["INTJ", "ENTP", 3],
        ["ENTJ", "ESFP", "ESTP", 2],
        ["INTP", "ISFP", "ISTP", 5],
        ["ISFJ", "ESFJ", "ISTJ", "ESTJ", 4]
    ]
 }

In [173]:
rating = {}

for keys, value in compatible_matches.items():
   
   # the keys for the compatible matches 
   #print(keys)
   ratingScore = {}
   size = len(value)
   
   for list in range(0, size):
       
        #print(value[list])
       
       #print(value[list][-1])
       score = value[list][-1]
       
       for x in value[list]:
           if type(x) is str:
              #print(x)
               ratingScore[x] = score
               
   rating[keys] = ratingScore

In [182]:
personailty_compatible = pd.DataFrame({key: pd.Series(val) for key, val in rating.items()})
personailty_compatible.at["ESFJ",'ISTP']= 5.0
personailty_compatible['ISTP'] = personailty_compatible['ISTP'].astype(int)

In [275]:
# personality compatible df turn into a csv file
personailty_compatible
personailty_compatible.to_csv('/Users/sanzi/Desktop/school/personality dating app/personailty_compatible.csv')

# The Personality and Profile Datasets

In [276]:
import pandas as pd

In [277]:
profile_dataset = pd.DataFrame(pd.read_csv("/Users/sanzi/Desktop/school/personality dating app/okCupid.csv"))
profile_dataset = profile_dataset[["age", "sex", "orientation", "Personaility Type"]]

In [287]:
compatible_matches_df =  pd.DataFrame(pd.read_csv("/Users/sanzi/Desktop/school/personality dating app/personailty_compatible.csv", index_col = [0]))
compatible_matches_df

,INFP,ISTP,ENFP,INFJ,ENFJ,INTJ,ENTJ,INTP,ENTP,ISFP,ESFP,ESTP,ISFJ,ESFJ,ISTJ,ESTJ
ENFJ,5,1,4,4,4,4,4,4,4,5,1,1,1,1,1,1
ENFP,4,1,4,5,4,5,4,4,4,1,1,1,1,1,1,1
ENTJ,5,2,4,4,4,4,4,5,4,2,2,2,2,2,2,2
ENTP,4,2,4,5,4,5,4,4,4,2,2,2,3,3,3,3
ESFJ,1,5,1,1,1,3,2,3,3,5,2,2,4,4,4,4
ESFP,1,3,1,1,1,2,2,2,2,3,3,3,5,2,5,2
ESTJ,1,5,1,1,1,3,2,5,3,5,2,2,4,4,4,4
ESTP,1,3,1,1,1,2,2,2,2,3,3,3,5,2,5,2
INFJ,4,1,5,4,4,4,4,4,5,1,1,1,1,1,1,1
INFP,4,1,4,4,5,4,5,4,4,1,1,1,1,1,1,1
INTJ,4,2,5,4,4,4,4,4,5,2,2,2,3,3,3,3
INTP,4,2,4,4,4,4,5,4,4,2,2,2,3,3,3,5
ISFJ,1,5,1,1,1,3,2,3,3,2,5,5,4,4,4,4
ISFP,1,3,1,1,5,2,2,2,2,3,3,3,2,5,2,5
ISTJ,1,2,1,1,1,3,2,3,3,2,5,5,4,4,4,4
ISTP,1,3,1,1,1,2,2,2,2,3,3,3,2,5,2,5

In [279]:
profile_dataset

    age sex orientation Personaility Type
0    33   m    straight              ISTP
1    28   m    straight              INTJ
2    22   m    straight              ISTJ
3    22   m    straight              ENTJ
4    30   m    straight              INTJ
5    32   m    straight              INTP
6    27   f    straight              ENFP
7    27   m    straight              INTJ
8    38   f    straight              INTP
9    20   f    straight              INTP
10   27   m    straight              ENFJ
11   26   m    straight              INTP
12   32   m    straight              INTJ
13   25   m    bisexual              ENTP
14   27   f    straight              ENFP
15   35   m    straight              INTP
16   30   m    straight              INTP
17   35   m    straight              INTP
18   30   m    straight              INTP
19   40   m    straight              INFP
20   29   f    bisexual              INTP
21   27   m    straight              ENFP
22   27   m    straight              ENFJ
23   28   m    straight              INFP
24   31   f    bisexual              INFP
25   22   m    straight              ESTJ
26   35   m    straight              ENFJ
27   38   m    straight              INFP
28   23   m    straight              INTP
29   29   m    straight              ENFP
30   29   m    straight              INFP
31   32   f    straight              ENFJ
32   31   f    straight              ISTJ
33   24   f    straight              INTP
34   37   m    straight              INFP
35   35   m    straight              INFP
36   28   m    straight              INFJ
37   29   f    straight              INFJ
38   39   f    straight              INTP
39   33   m    straight              INTP
40   26   f    straight              INFJ
41   31   m    straight              ENFP
42   33   m    straight              INFP
43   27   f    straight              ENFP
44   22   f    straight              INTP
45   30   m    straight              INFP
46   33   f         gay              ISFJ
47   31   m    straight              INFP
48   31   m    straight              INFJ

# Matching Algorithm that did not work

## Gale Sharpley Algorithm

In [46]:
# man and woman df
woman_df = personailty_compatible

man_df = personailty_compatible.transpose()

In [45]:
woman_list = list(personailty_compatible.columns)

man_list = list(personailty_compatible.index)

In [14]:
# dict to control which women each man can make proposals
women_available = {man:man_list for man in woman_list}
# waiting list of men that were able to create pair on each iteration
waiting_list = []
# dict to store created pairs
proposals = {}
# variable to count number of iterations
count = 0

In [15]:
import numpy as np
from collections import Counter
from copy import copy

In [16]:
# while not all men have pairs
while len(waiting_list)<len(man_list):
    # man makes proposals
    for man in man_list:
        if man not in waiting_list:
            # each man make proposal to the top women from it's list
            women = women_available[man]
            best_choice = man_df.loc[man][man_df.loc[man].index.isin(women)].idxmin()
            proposals[(man, best_choice)]=(man_df.loc[man][best_choice],
                                                 woman_df.loc[man][best_choice])
    # if women have more than one proposals 
    # she will choose the best option
    overlays = Counter([key[1] for key in proposals.keys()])
    # cycle to choose the best options
    for women in overlays.keys():
        if overlays[women]>1:
            # pairs to drop from proposals
            pairs_to_drop = sorted({pair: proposals[pair] for pair in proposals.keys() 
                    if women in pair}.items(), 
                   key=lambda x: x[1][1]
                  )[1:]
            # if man was rejected by woman
            # there is no pint for him to make proposal 
            # second time to the same woman
            for p_to_drop in pairs_to_drop:
                del proposals[p_to_drop[0]]
                _women = copy(women_available[p_to_drop[0][0]])
                _women.remove(p_to_drop[0][1])
                women_available[p_to_drop[0][0]] = _women
    # man who successfully created pairs must be added to the waiting list 
    waiting_list = [man[0] for man in proposals.keys()]
    # update counter
    count+=1

ValueError: attempt to get argmin of an empty sequence

In [19]:
proposals

{('ISTP', 'ENFP'): (1, 1),
 ('ISTJ', 'ENFJ'): (1, 1),
 ('INTJ', 'INTJ'): (4, 4),
 ('INTP', 'INTP'): (4, 4),
 ('INFP', 'ENTP'): (4, 4)}

## Clustering Algorithm


Hierachical clustering algorithm

In [19]:
pip install matplotlib

Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.7.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.20 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.23.2)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 6.0 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from seaborn) (1.23.2)
Requirement already satisfied: pandas>=0.25 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from seaborn) (1.4.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from seaborn) (3.7.0)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2022.2.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: sklearn
  Running setup.py install for sklearn ... done
Successfully installed sklearn-0.0.post1

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [24]:
pip install -U scikit-learn scipy matplotlib

Collecting scikit-learn
  Downloading scikit_learn-1.2.1-cp310-cp310-macosx_12_0_arm64.whl (8.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 21.7 MB/s eta 0:00:0000:0100:01
Collecting scipy
  Downloading scipy-1.10.1-cp310-cp310-macosx_12_0_arm64.whl (28.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 28.8/28.8 MB 28.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.7.0)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: joblib>=1.1.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (1.23.2)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (21.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: threadpoolctl, scipy, scikit-learn
Successfully installed scikit-learn-1.2.1 scipy-1.10.1 threadpoolctl-3.1.0

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [49]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import _pickle as pickle
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.metrics import silhouette_score, davies_bouldin_score
from sklearn.preprocessing import MinMaxScaler

In [50]:
personailty_compatible

      ISTP  INTJ  ISTJ  ENTJ  INTP  ENFP  ENFJ  ENTP  INFP
ISTP     3     2     2     2     2     1     1     2     1
INTJ     2     4     3     4     4     5     4     5     4
ISTJ     2     3     4     2     3     1     1     3     1
ENTJ     2     4     2     4     5     4     4     4     5
INTP     2     4     3     5     4     4     4     4     4
ENFP     1     5     1     4     4     4     4     4     4
ENFJ     1     4     1     4     4     4     4     4     5
ENTP     2     5     3     4     4     4     4     4     4
INFP     1     4     1     5     4     4     5     4     4

In [51]:
personailty_compatible.dtypes

ISTP    int64
INTJ    int64
ISTJ    int64
ENTJ    int64
INTP    int64
ENFP    int64
ENFJ    int64
ENTP    int64
INFP    int64
dtype: object

In [72]:
first_row = personailty_compatible.iloc[0:1]

In [73]:
first_user = first_row.transpose()

In [74]:
first_user

           ISTP
ISTP          3
INTJ          2
ISTJ          2
ENTJ          2
INTP          2
ENFP          1
ENFJ          1
ENTP          2
INFP          1
Cluster #     7

In [77]:
first_user.drop(first_user.tail(1).index,inplace=True) # drop last n rows

In [78]:
first_user

      ISTP
ISTP     3
INTJ     2
ISTJ     2
ENTJ     2
INTP     2
ENFP     1
ENFJ     1
ENTP     2
INFP     1

In [84]:
def clustering(dataframe):
    # there are 16 personaility types
    # Instantiating HAC
    hac = AgglomerativeClustering(n_clusters=9)

    # Fitting
    hac.fit(dataframe)

    # Getting cluster assignments
    cluster_assignments = hac.labels_

    # Assigning the clusters to each profile
    dataframe['Cluster #'] = cluster_assignments

    # Viewing the dating profiles with cluster assignments
    return dataframe

In [85]:
clustering(first_user)

      ISTP  Cluster #
ISTP     3          5
INTJ     2          8
ISTJ     2          7
ENTJ     2          3
INTP     2          4
ENFP     1          6
ENFJ     1          1
ENTP     2          2
INFP     1          0

In [86]:
clustering(personailty_compatible)

      ISTP  INTJ  ISTJ  ENTJ  INTP  ENFP  ENFJ  ENTP  INFP  Cluster #
ISTP     3     2     2     2     2     1     1     2     1          4
INTJ     2     4     3     4     4     5     4     5     4          6
ISTJ     2     3     4     2     3     1     1     3     1          5
ENTJ     2     4     2     4     5     4     4     4     5          7
INTP     2     4     3     5     4     4     4     4     4          8
ENFP     1     5     1     4     4     4     4     4     4          3
ENFJ     1     4     1     4     4     4     4     4     5          2
ENTP     2     5     3     4     4     4     4     4     4          1
INFP     1     4     1     5     4     4     5     4     4          0

# Matching Algorithm Approach

In [290]:
# Linked List import libary 
from collections import deque

In [291]:
user_id = [11, 38, 17, 10, 58, 53,
           19, 1, 2, 5, 62, 40,
           42, 7, 37, 23, 12, 30,
           8, 28, 16, 63, 6, 49,
           66, 15, 69, 13, 41, 43,
           33, 23, 44, 38, 16, 65,
           3, 4, 9, 100, 201, 620,
           999, 99, 87, 56, 35, 697, 111] 

profile_dataset["uid"] = user_id

dating_intention = ["Marriage", "Fling", "Marriage", "Casual", "Dating",
                    "Marriage", "Fling", "Marriage", "Casual", "Dating",
                    "Marriage", "Fling", "Marriage", "Casual", "Dating",
                    "Marriage", "Fling", "Marriage", "Casual", "Dating",
                    "Marriage", "Fling", "Marriage", "Casual", "Dating",
                    "Marriage", "Fling", "Marriage", "Casual", "Dating",
                    "Marriage", "Fling", "Marriage", "Casual", "Dating",
                    "Marriage", "Fling", "Marriage", "Casual", "Dating",
                    "Marriage", "Fling", "Marriage", "Casual", "Dating",
                    "Marriage", "Fling", "Marriage", "Fling"]
profile_dataset["Dating Intention"] = dating_intention

In [292]:
profile_dataset

    age sex orientation Personaility Type  uid Dating Intention
0    33   m    straight              ISTP   11         Marriage
1    28   m    straight              INTJ   38            Fling
2    22   m    straight              ISTJ   17         Marriage
3    22   m    straight              ENTJ   10           Casual
4    30   m    straight              INTJ   58           Dating
5    32   m    straight              INTP   53         Marriage
6    27   f    straight              ENFP   19            Fling
7    27   m    straight              INTJ    1         Marriage
8    38   f    straight              INTP    2           Casual
9    20   f    straight              INTP    5           Dating
10   27   m    straight              ENFJ   62         Marriage
11   26   m    straight              INTP   40            Fling
12   32   m    straight              INTJ   42         Marriage
13   25   m    bisexual              ENTP    7           Casual
14   27   f    straight              ENFP   37           Dating
15   35   m    straight              INTP   23         Marriage
16   30   m    straight              INTP   12            Fling
17   35   m    straight              INTP   30         Marriage
18   30   m    straight              INTP    8           Casual
19   40   m    straight              INFP   28           Dating
20   29   f    bisexual              INTP   16         Marriage
21   27   m    straight              ENFP   63            Fling
22   27   m    straight              ENFJ    6         Marriage
23   28   m    straight              INFP   49           Casual
24   31   f    bisexual              INFP   66           Dating
25   22   m    straight              ESTJ   15         Marriage
26   35   m    straight              ENFJ   69            Fling
27   38   m    straight              INFP   13         Marriage
28   23   m    straight              INTP   41           Casual
29   29   m    straight              ENFP   43           Dating
30   29   m    straight              INFP   33         Marriage
31   32   f    straight              ENFJ   23            Fling
32   31   f    straight              ISTJ   44         Marriage
33   24   f    straight              INTP   38           Casual
34   37   m    straight              INFP   16           Dating
35   35   m    straight              INFP   65         Marriage
36   28   m    straight              INFJ    3            Fling
37   29   f    straight              INFJ    4         Marriage
38   39   f    straight              INTP    9           Casual
39   33   m    straight              INTP  100           Dating
40   26   f    straight              INFJ  201         Marriage
41   31   m    straight              ENFP  620            Fling
42   33   m    straight              INFP  999         Marriage
43   27   f    straight              ENFP   99           Casual
44   22   f    straight              INTP   87           Dating
45   30   m    straight              INFP   56         Marriage
46   33   f         gay              ISFJ   35            Fling
47   31   m    straight              INFP  697         Marriage
48   31   m    straight              INFJ  111            Fling

In [296]:
def findPotentialMatches():
    
    # Find the current user infomation from dating intention
    user1_infomation = profile_dataset.iloc[10]
    #print(user1_infomation)

    user1_datingIntention = user1_infomation['Dating Intention']
    #print(user1_datingIntention)
    
    # Find the potential matches we would loop through
    discover_df = profile_dataset[(profile_dataset["Dating Intention"] == user1_datingIntention) & (profile_dataset["sex"] == 'm')]
    
    # append the current user infomation to the discover page at index 0
    discover_df = discover_df.append(user1_infomation)

    # return the discover matches dataframe
    return discover_df

In [297]:
discover_df = findPotentialMatches()
discover_df

/var/folders/g6/yg8vcpd92j9_lff07zrhgf9h0000gn/T/ipykernel_2337/1632595036.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  discover_df = discover_df.append(user1_infomation)

    age sex orientation Personaility Type  uid Dating Intention
0    33   m    straight              ISTP   11         Marriage
2    22   m    straight              ISTJ   17         Marriage
5    32   m    straight              INTP   53         Marriage
7    27   m    straight              INTJ    1         Marriage
10   27   m    straight              ENFJ   62         Marriage
12   32   m    straight              INTJ   42         Marriage
15   35   m    straight              INTP   23         Marriage
17   35   m    straight              INTP   30         Marriage
22   27   m    straight              ENFJ    6         Marriage
25   22   m    straight              ESTJ   15         Marriage
27   38   m    straight              INFP   13         Marriage
30   29   m    straight              INFP   33         Marriage
35   35   m    straight              INFP   65         Marriage
42   33   m    straight              INFP  999         Marriage
45   30   m    straight              INFP   56         Marriage
47   31   m    straight              INFP  697         Marriage
10   27   m    straight              ENFJ   62         Marriage

In [316]:
# function to find the potential matches for current user in a sorted linked list
def findMatches(discover_df):
    
    # find the lenght of the discover dataframe
    size = len(discover_df) - 1
    
    # for the first row which the user is a guy with the personality type of ISTP 
    # if we look at the personality compatable we see that it is the first row
    # we compare every other user in profile dataset after the first row and if it is less than 2 we put it at the end of the list
    
    potential_matches = {}

    # the current user's infomation will be at the end of the discover dataframe
    user1_infomation = discover_df.iloc[-1]

    user1_personality = user1_infomation['Personaility Type']

    #print(user1_infomation)
    #print("---")
    #print(user1_personality)

    # find the row for that user in the personality compatable dataframe
    user1_compatable_info = personailty_compatible[user1_personality]

    #print("-")
    #print(user1_compatable_info)


    # go through each of the profile dataset to find the potential matches compatablility
    for i in range(0, size): 
        
        #print("--------Other user's infomation--------")
        #print(discover_df.iloc[i])
        
        # the potential match personality type
        other_match_personality = discover_df.iloc[i]["Personaility Type"]
        #print("Personality Type: " + other_match_personality)
    
        # the potential match user id
        id = discover_df.iloc[i]["uid"]
        #print("ID: " + str(id))
        
        # find out the ranking of compatability
        compatability_of_users = personailty_compatible[user1_personality][other_match_personality]
        
        #print("The compatability score is " + str(compatability_of_users))
        
        # add to the dictionary using user id and ranking of compatability
        potential_matches[id] = compatability_of_users

    print("-----------------------")
    print(potential_matches) 
    
    return potential_matches

In [317]:
potential_matches = findMatches(discover_df)

-----------------------
{11: 1, 17: 1, 53: 4, 1: 4, 62: 4, 42: 4, 23: 4, 30: 4, 6: 4, 15: 1, 13: 5, 33: 5, 65: 5, 999: 5, 56: 5, 697: 5}

In [325]:
def sortedMatches(matchList):
    
    # sort list
    potential_matches_sorted = dict(sorted(matchList.items(), key=lambda item: item[1], reverse=True))
    #print(potential_matches_sorted)
    
    # with the sorted dictonary which the first value will be the user that is the most compatable with the user0 we can use the user id as a linked list
    potential_matches_uid = deque(potential_matches_sorted.keys())
    
    #print(potential_matches_uid)
    return potential_matches_uid

In [329]:
matches_uid = sortedMatches(potential_matches)
matches_uid

13